.CloudViewerUI {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;  
  }
  
  .InputControl {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  
  .Control {
    width: 3em;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border: 1px solid #000000;
  }  